.header {
  margin-bottom: 1rem;
}

.header .logo {
  width: 2rem;
}

.header .logo, .header .logo path {
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .logo path {
  fill: #dae0e5;
}

.header:hover .logo {
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -moz-transform-origin: 0.49em 0.7em;
  -ms-transform-origin: 0.49em 0.7em;
  -o-transform-origin: 0.49em 0.7em;
  -webkit-transform-origin: 0.49em 0.7em;
  transform-origin: 0.49em 0.7em;
}

.header:hover .logo path {
  fill: rgb(255, 200, 65);
}
